#bloc1 {
  width: 400px;
  height: 50px;
  background: pink;
}

#bloc2 {
  width: 400px;
  height: 50px;
  background: red;
}

#bloc3 {
  width: 400px;
  height: 50px;
  background: grey;
}
